In [19]:
import pandas as pd
import calendar
import datetime

In [35]:
df = pd.read_csv(r"C:\Users\payoj.jain/Downloads/test.txt.csv")

In [36]:
df.head()

                                             COLUMN1   COLUMN2
0  MULTILINESTRING ((-4.94237 55.725449,-4.941922...         0
1  MULTILINESTRING ((-4.940511 55.724583,-4.94048...         1
2  MULTILINESTRING ((-4.732901 55.524961,-4.73380...         2
3  MULTILINESTRING ((-4.95385 55.162896,-4.953875...         3
4  MULTILINESTRING ((-1.7537208 50.7227359,-1.753...         4

In [37]:
df.values[0]

array(['MULTILINESTRING ((-4.94237 55.725449,-4.941922 55.725585,-4.9420024 55.7252119,-4.9422001 55.7250997,-4.9423197 55.7251789,-4.9425472 55.7253089,-4.94237 55.725449))',
       0], dtype=object)

In [38]:
df.columns

Index(['COLUMN1', ' COLUMN2'], dtype='object')

In [39]:
df = df.drop([" COLUMN2"], axis=1)

In [40]:
df.values[0]

array(['MULTILINESTRING ((-4.94237 55.725449,-4.941922 55.725585,-4.9420024 55.7252119,-4.9422001 55.7250997,-4.9423197 55.7251789,-4.9425472 55.7253089,-4.94237 55.725449))'],
      dtype=object)

In [41]:
df[df.columns[0]] = df[df.columns[0]].str.replace("MULTILINESTRING \(\(", "")

In [42]:
df.values[0]

array(['-4.94237 55.725449,-4.941922 55.725585,-4.9420024 55.7252119,-4.9422001 55.7250997,-4.9423197 55.7251789,-4.9425472 55.7253089,-4.94237 55.725449))'],
      dtype=object)

In [43]:
df[df.columns[0]] = df[df.columns[0]].str.replace("\)\)", "")

In [44]:
df[df.columns[0]] = df[df.columns[0]].str.replace("'", "")

In [45]:
df[df.columns[0]] = df[df.columns[0]].str.replace('"', '')

In [46]:
df.values[0]

array(['-4.94237 55.725449,-4.941922 55.725585,-4.9420024 55.7252119,-4.9422001 55.7250997,-4.9423197 55.7251789,-4.9425472 55.7253089,-4.94237 55.725449'],
      dtype=object)

In [102]:
df.to_csv(r"C:\Users\payoj.jain/Downloads/test.csv")

In [47]:
df[df.columns[0]] = df[df.columns[0]].str.replace(",", "\n")

In [48]:
df[df.columns[0]] = df[df.columns[0]].str.replace("'", "\n")

In [49]:
df[:1]

                                             COLUMN1
0  -4.94237 55.725449\n-4.941922 55.725585\n-4.94...

In [50]:
df[df.columns[0]] = df[df.columns[0]].str.replace(" ",",")

In [51]:
df

                                                  COLUMN1
0       -4.94237,55.725449\n-4.941922,55.725585\n-4.94...
1       -4.940511,55.724583\n-4.940486,55.724071\n-4.9...
2       -4.732901,55.524961\n-4.733804,55.524948\n-4.7...
3       -4.95385,55.162896\n-4.953875,55.163408\n-4.95...
4       -1.7537208,50.7227359\n-1.7534958,50.7228391\n...
...                                                   ...
670462  20.3878589,59.9800602\n20.3878903,59.9800494\n...
670463  20.3859346,59.9801054\n20.3859705,59.9801018\n...
670464  20.3880975,59.9797847\n20.3881151,59.9797734\n...
670465  20.3828188,59.9784024\n20.3828303,59.9783865\n...
670466  11.6817879,57.9800282\n11.6818129,57.98005\n11...

[670467 rows x 1 columns]

In [32]:
df = df.drop(["Unnamed: 0"], axis=1)

In [52]:
# df = df.rename(columns={df.columns[0]:',,\n'+df.columns[0]})
# df_sub = df[:10]
df.to_csv(r"C:\Users\payoj.jain/Downloads/test.csv")

In [26]:
df = pd.read_csv(r"C:\Users\payoj.jain/Downloads/test.csv")

In [27]:
df.head()

   Unnamed: 0                                            COLUMN1
0           0  -4.94237,55.725449\n-4.941922,55.725585\n-4.94...
1           1  -4.940511,55.724583\n-4.940486,55.724071\n-4.9...
2           2  -4.732901,55.524961\n-4.733804,55.524948\n-4.7...
3           3  -4.95385,55.162896\n-4.953875,55.163408\n-4.95...
4           4  -1.7537208,50.7227359\n-1.7534958,50.7228391\n...

In [53]:
import re

In [ ]:
f = open(r"C:\Users\payoj.jain/Downloads/test.csv")
for line in f:
    string = line.replace('"', "")
    string = string.replace(',""')

In [1]:
a = 1 + 3 +
    5

SyntaxError: invalid syntax (<ipython-input-1-dfb7a5a75e8d>, line 1)

In [8]:
a = (1 + 3),
(1+4)

5

In [9]:
a

(4,)

In [10]:
a = {
    "1":0,
    "2":1
}

In [11]:
a

{'1': 0, '2': 1}

In [12]:
a = {
"1":1,
"2":3
}

In [13]:
a

{'1': 1, '2': 3}

In [118]:
HO_blockings = {"start dates":["25-01-2020","01-04-2020","15-12-2020","22-02-2021"], "end dates":["31-03-2020","31-05-2020","25-01-2021","22-03-2021"]}
migrated_blockings = {"start dates":[],"end dates":[]}

In [122]:
blockings = pd.DataFrame([("Jan",0),("Feb",0),("Mar",0),("Apr",0),("May",0),("Jun",0),("Jul",0),("Aug",0),("Sep",0),("Oct",0),("Nov",0),("Dec",0)], columns=["Month","Day"])

blockings = blockings.set_index(["Month"])

start_dates = HO_blockings["start dates"]+migrated_blockings["start dates"]
end_dates = HO_blockings["end dates"]+migrated_blockings["end dates"]

current_date = datetime.datetime.today()
latest_date = current_date.replace(year = current_date.year+1)

for i in range(len(start_dates)):

    start = datetime.datetime.strptime(start_dates[i],"%d-%m-%Y")
    end = datetime.datetime.strptime(end_dates[i],"%d-%m-%Y")

    if start < latest_date:
        if end > latest_date:
            end = latest_date

        #Generating all the dates between start and end date
        date_generated = [start+datetime.timedelta(days=x) for x in range(0,(end-start).days+1)]

        date_generated = pd.DataFrame(date_generated)

#         print(blockings)
        date_generated.columns = ['Date']

        #Extracting Year, Month and Day from all the dates 
        date_generated['Year'] = pd.DatetimeIndex(date_generated['Date']).year
        date_generated['Month'] = pd.DatetimeIndex(date_generated['Date']).month
        date_generated['Day'] = pd.DatetimeIndex(date_generated['Date']).day

        #Groupby month and year to get the desired output
        date_generated = date_generated.drop(["Year"], axis=1)
        days_per_month = date_generated.groupby(['Month'])['Day'].count()

        days_per_month = days_per_month.reset_index()

        days_per_month["Month"] = days_per_month["Month"].apply(lambda x: calendar.month_abbr[x])
        days_per_month = days_per_month.set_index(["Month"])
        blockings = blockings.add(days_per_month, fill_value=0)
    else:
        break
print(blockings)
months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]

        Day
Month
Apr    30.0
Aug     0.0
Dec    17.0
Feb    29.0
Jan    30.0
Jul     0.0
Jun     0.0
Mar    31.0
May    31.0
Nov     0.0
Oct     0.0
Sep     0.0

In [123]:
blockings.to_dict('index')

{'Apr': {'Day': 30.0},
 'Aug': {'Day': 0.0},
 'Dec': {'Day': 17.0},
 'Feb': {'Day': 29.0},
 'Jan': {'Day': 30.0},
 'Jul': {'Day': 0.0},
 'Jun': {'Day': 0.0},
 'Mar': {'Day': 31.0},
 'May': {'Day': 31.0},
 'Nov': {'Day': 0.0},
 'Oct': {'Day': 0.0},
 'Sep': {'Day': 0.0}}

In [116]:
x["Sep"]

KeyError: 'Sep'

In [98]:
year_month = pd.DataFrame(blockings.index.to_list())

In [99]:
year_month

      0    1
0  2020  Apr
1  2020  Dec
2  2020  May
3  2021  Jan

In [29]:
# blockings_new = blockings.reset_index()
# blockings_new = blockings_new.set_index("Year")
blockings_new = blockings_new.to_dict()

In [33]:
blockings.to_dict()

{'Day': {(2019, 'Dec'): 31.0,
  (2019, 'Jul'): 7.0,
  (2019, 'Jun'): 30.0,
  (2019, 'May'): 11.0,
  (2019, 'Nov'): 30.0,
  (2020, 'Feb'): 29.0,
  (2020, 'Jan'): 31.0,
  (2020, 'Mar'): 31.0}}

In [34]:
blockings

           Day
Year Month
2019 Dec    31
     Jul     7
     Jun    30
     May    11
     Nov    30
2020 Feb    29
     Jan    31
     Mar    31

In [39]:
blockings.values

array([[31.0],
       [7.0],
       [30.0],
       [11.0],
       [30.0],
       [29.0],
       [31.0],
       [31.0]], dtype=object)

In [41]:
today = datetime.datetime.today()
# datem = datetime(today.year, today.month, 1)

In [42]:
today

datetime.datetime(2020, 1, 23, 14, 38, 39, 401810)

In [43]:
today.year

2020

In [45]:
calendar.month_abbr[today.month]

'Jan'

In [46]:
import numpy as np

In [51]:
today.day + np.timedelta64(1,'D')

numpy.timedelta64(24,'D')

In [55]:
today.month + np.timedelta64(12,'M')

numpy.timedelta64(13,'M')

In [63]:
current_date = datetime.datetime.today()
latest_date = current_date.replace(year=current_date.year+1)

In [64]:
current_date

datetime.datetime(2020, 1, 23, 14, 55, 38, 695979)

In [65]:
latest_date

datetime.datetime(2021, 1, 23, 14, 55, 38, 695979)

In [67]:
latest_date > current_date

True

In [124]:
import pandas as pd

In [127]:
at = pd.read_csv(r"C:/Users/payoj.jain/Downloads/at.csv")

In [128]:
at = at.rename(columns={"Unnamed: 0" : "id"})

In [129]:
at

,id,house_pk,agency_house_id,agency_id,housetype_id,max_persons,no_bedrooms,no_bathrooms,pool,indoor_pool,spa,sauna,internet,gps_latitude,gps_longitude,month,gbv,bookings
0,1,1,62018393,24,1,8,2,2,0,0,0,0,1,47.516853,12.439378,9.0,0.0,0.0
1,2,1,62018393,24,1,8,2,2,0,0,0,0,1,47.516853,12.439378,12.0,0.0,0.0
2,3,1,62018393,24,1,8,2,2,0,0,0,0,1,47.516853,12.439378,8.0,0.0,0.0
3,4,1,62018393,24,1,8,2,2,0,0,0,0,1,47.516853,12.439378,10.0,0.0,0.0
4,5,1,62018393,24,1,8,2,2,0,0,0,0,1,47.516853,12.439378,11.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78173,78174,33648,AT-6105-28-1,7000,1,-1,-1,-1,0,0,0,0,0,-1.000000,-1.000000,NaN,NaN,NaN
78174,78175,33649,AT-6850-02-1,7000,1,-1,-1,-1,0,0,0,0,0,-1.000000,-1.000000,NaN,NaN,NaN
78175,78176,33650,AT-3602-01-1,7000,1,-1,-1,-1,0,0,0,0,0,-1.000000,-1.000000,NaN,NaN,NaN
78176,78177,33651,AT-5562-09-1,7000,1,-1,-1,-1,0,0,0,0,0,-1.000000,-1.000000,NaN,NaN,NaN
78177,78178,33652,AT-0010-19-1,7000,1,-1,-1,-1,0,0,0,0,0,-1.000000,-1.000000,NaN,NaN,NaN

In [130]:
at_attributes = at[["id","house_pk","agency_house_id","max_persons","no_bedrooms","no_bathrooms","pool","indoor_pool","internet","gps_latitude","gps_longitude","gbv"]]

In [132]:
at_months = at_attributes.groupby("agency_house_id").count()
at_gbv = at_attributes.groupby("agency_house_id").sum()

In [134]:
at_months

,id,house_pk,max_persons,no_bedrooms,no_bathrooms,pool,indoor_pool,internet,gps_latitude,gps_longitude,gbv
agency_house_id,,,,,,,,,,,
01000,1,1,1,1,1,1,1,1,1,1,0
01188,1,1,1,1,1,1,1,1,1,1,0
01197,1,1,1,1,1,1,1,1,1,1,0
01200,1,1,1,1,1,1,1,1,1,1,0
01202,1,1,1,1,1,1,1,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...
WIL107,1,1,1,1,1,1,1,1,1,1,0
WIL108,1,1,1,1,1,1,1,1,1,1,0
WIL140,1,1,1,1,1,1,1,1,1,1,0
WIL430,8,8,8,8,8,8,8,8,8,8,8
WIL710,1,1,1,1,1,1,1,1,1,1,0