In [1]:
import pandas as pd

In [35]:
df = pd.read_csv(r"C:\Users\payoj.jain/Downloads/test.txt.csv")

In [36]:
df.head()

                                             COLUMN1   COLUMN2
0  MULTILINESTRING ((-4.94237 55.725449,-4.941922...         0
1  MULTILINESTRING ((-4.940511 55.724583,-4.94048...         1
2  MULTILINESTRING ((-4.732901 55.524961,-4.73380...         2
3  MULTILINESTRING ((-4.95385 55.162896,-4.953875...         3
4  MULTILINESTRING ((-1.7537208 50.7227359,-1.753...         4

In [37]:
df.values[0]

array(['MULTILINESTRING ((-4.94237 55.725449,-4.941922 55.725585,-4.9420024 55.7252119,-4.9422001 55.7250997,-4.9423197 55.7251789,-4.9425472 55.7253089,-4.94237 55.725449))',
       0], dtype=object)

In [38]:
df.columns

Index(['COLUMN1', ' COLUMN2'], dtype='object')

In [39]:
df = df.drop([" COLUMN2"], axis=1)

In [40]:
df.values[0]

array(['MULTILINESTRING ((-4.94237 55.725449,-4.941922 55.725585,-4.9420024 55.7252119,-4.9422001 55.7250997,-4.9423197 55.7251789,-4.9425472 55.7253089,-4.94237 55.725449))'],
      dtype=object)

In [41]:
df[df.columns[0]] = df[df.columns[0]].str.replace("MULTILINESTRING \(\(", "")

In [42]:
df.values[0]

array(['-4.94237 55.725449,-4.941922 55.725585,-4.9420024 55.7252119,-4.9422001 55.7250997,-4.9423197 55.7251789,-4.9425472 55.7253089,-4.94237 55.725449))'],
      dtype=object)

In [43]:
df[df.columns[0]] = df[df.columns[0]].str.replace("\)\)", "")

In [44]:
df[df.columns[0]] = df[df.columns[0]].str.replace("'", "")

In [45]:
df[df.columns[0]] = df[df.columns[0]].str.replace('"', '')

In [46]:
df.values[0]

array(['-4.94237 55.725449,-4.941922 55.725585,-4.9420024 55.7252119,-4.9422001 55.7250997,-4.9423197 55.7251789,-4.9425472 55.7253089,-4.94237 55.725449'],
      dtype=object)

In [102]:
df.to_csv(r"C:\Users\payoj.jain/Downloads/test.csv")

In [47]:
df[df.columns[0]] = df[df.columns[0]].str.replace(",", "\n")

In [48]:
df[df.columns[0]] = df[df.columns[0]].str.replace("'", "\n")

In [49]:
df[:1]

                                             COLUMN1
0  -4.94237 55.725449\n-4.941922 55.725585\n-4.94...

In [50]:
df[df.columns[0]] = df[df.columns[0]].str.replace(" ",",")

In [51]:
df

                                                  COLUMN1
0       -4.94237,55.725449\n-4.941922,55.725585\n-4.94...
1       -4.940511,55.724583\n-4.940486,55.724071\n-4.9...
2       -4.732901,55.524961\n-4.733804,55.524948\n-4.7...
3       -4.95385,55.162896\n-4.953875,55.163408\n-4.95...
4       -1.7537208,50.7227359\n-1.7534958,50.7228391\n...
...                                                   ...
670462  20.3878589,59.9800602\n20.3878903,59.9800494\n...
670463  20.3859346,59.9801054\n20.3859705,59.9801018\n...
670464  20.3880975,59.9797847\n20.3881151,59.9797734\n...
670465  20.3828188,59.9784024\n20.3828303,59.9783865\n...
670466  11.6817879,57.9800282\n11.6818129,57.98005\n11...

[670467 rows x 1 columns]

In [32]:
df = df.drop(["Unnamed: 0"], axis=1)

In [52]:
# df = df.rename(columns={df.columns[0]:',,\n'+df.columns[0]})
# df_sub = df[:10]
df.to_csv(r"C:\Users\payoj.jain/Downloads/test.csv")

In [26]:
df = pd.read_csv(r"C:\Users\payoj.jain/Downloads/test.csv")

In [27]:
df.head()

   Unnamed: 0                                            COLUMN1
0           0  -4.94237,55.725449\n-4.941922,55.725585\n-4.94...
1           1  -4.940511,55.724583\n-4.940486,55.724071\n-4.9...
2           2  -4.732901,55.524961\n-4.733804,55.524948\n-4.7...
3           3  -4.95385,55.162896\n-4.953875,55.163408\n-4.95...
4           4  -1.7537208,50.7227359\n-1.7534958,50.7228391\n...

In [53]:
import re

In [ ]:
f = open(r"C:\Users\payoj.jain/Downloads/test.csv")
for line in f:
    string = line.replace('"', "")
    string = string.replace()